a{
    width: 100px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
} 

.parent{
    width: 500px;
}

.parent > p{
width: 50px;
}

.toblock{
    display: block;
    width: 50px;
}